/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* get rid of padding & sizing on body so header is at the top */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* add some padding back to the rest of the page */
main {
    padding: 2vw;
    padding-top: 130px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: white; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 100px; 
}

.logo-title {
    margin-left: 0.2rem; 
    font-size: 1.5rem;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0; 
    transition: all 0.3s linear;
}

.nav-toggle {
    display: none;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 60px; 
    left: 0;
    width: 100%;
}

/* Navbar links styles */
.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around; 
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Change color on hover */
.navbar-links a:hover {
    color: #ddd;
}

/* media query for non-mobile nav bar */
@media (max-width: 767px) {
    .hamburger {
        display: block;
    }

    .navbar-links {
        display: none;
        top: 60px;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .nav-toggle:checked + .hamburger + .navbar-links {
        display: flex;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
    }

    .navbar {
        position: relative;
    }

    .navbar-links {
        display: flex;
        position: relative;
        width: auto;
        background-color: transparent; 
        top: initial;
        justify-content: flex-end;
    }

    .navbar-links ul {
        flex-direction: row;
    }

    .navbar-links li {
        margin: 0;
    }

    .navbar-links a {
        padding: 1rem;
        color: white;
        transition: none; 
    }

    .hamburger,
    .nav-toggle {
        display: none;
    }
}
