body {
    font-family:Open Sans;
    background-color: #E6A227;
    color: #0D4C99;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster";
    text-align: center;
}
h1 {
    font-size: 40px;
}

header {
    text-align: center;
}

h2 {
    margin: .1mm;
}

#hero, footer {
    color: #996300;
    border: 5px solid #996300;
    background-color: #4599FF;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;

}

#hobbies ul li:nth-child(odd) {

    color: white;
    font-family: "Lobster", cursive;

}

#hobbies {

    text-align: center;
    font-size: 25px;
}

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {

    border: 5px solid white;
    font-size: 30px;
    
}

#gallery img{

    max-width: 100%;
}

#gallery figure {

    text-align: center;
    color: white;
    font-size: 25px;
    
}

#lit {

    border: 5px solid white;
    margin-top: 2rem;
    
}

#lit div {

    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: brown;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;

}

#lit h2 {

    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: brown;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
}

/* tablet size */
@media screen and (min-width: 60em) {

figure {

    display: grid;
    grid-template-columns: 2fr 1fr;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

figure img {
    width: 100%;
}

#lit div {
   max-width: 100%;
    columns: 20rems;
}

}

/* large screen size */

@media  screen and (min-width: 100em) {
    
#gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {

    display: block;
}

}





